<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
      <form action="/register/" method="post">
        uname: <input type="text" name="uname" value=""><br><br>
        name: <input type="text" name="name" value=""><br><br>
        password: <input type="password" name="password" value=""><br><br>
        <button type="submit" name="button">register here</button>
      </form>
    </div>
  </body>
</html>
